* {
    box-sizing: border-box;
}

body, html {
    margin: -10px auto;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 10fr 2fr; /* Two main columns: a large one for the form, and a small one for extra settings */
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    justify-content: center;
}

/* Full-span section to appear at the bottom */
.section.full-span {
    grid-column: 1 / span 2;
    background-color: #ebeceb;
    padding: 10px;
    border-radius: 8px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Adjust the size of full-span section */
.section.full-span .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
}

/* General styling for the labels and input fields */
.section.large, .section.tall {
    background-color: #ebeceb;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    row-gap: 5px;
    column-gap: 15px;
}

.section.large {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-right: 30px;
    padding-left: 5px;
    width: 100%;
    align-items: center;
}

.section.large label {
    text-align: center;
    padding: 5px;
    margin: 0;
    grid-column: span 1;
}

.section.large .form-input {
    padding: 5px;
    grid-column: span 1;
}

.section.tall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    align-items: center;
}

.section.tall .row, .section.large .row {
    display: contents;
}

/* Style for elements to look like read-only form fields */
.readonly-field {
    background-color: #d1d1d1;
    cursor: not-allowed;
    opacity: 0.65;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input.form-control {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 4px;
}

.graph1 {
    display: flex;
    justify-content: center;
    background-color: #ebeceb;
    border-radius: 8px;
    width: fit-content;
    margin: -5px auto;
    padding: 20px;
}

.plotconfig {
    display: flex;
    justify-content: center;
    background-color: #ebeceb;
    border-radius: 8px;
    width: fit-content;
    margin: 10px auto;
    padding: 20px;
    column-gap: 20px;
}

/* General button styling */
.download-buttons .button {
    padding: 8px;
    margin: 10px;
    background-color: #cfcccc;
    color: rgb(65, 65, 65);
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

/* Button hover effect */
.download-buttons .button:hover {
    background-color: #e2dfdf;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 15px auto -5px auto;
    padding: 20px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
}



/* laptops */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: 8fr 4fr;
    }

    .section.large {
        grid-template-columns: repeat(6, 1fr); 
    }
}

/* tablets */
@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
    h1 {
        font-size: 1.8em; 
    }
}




